@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&amp;display=swap");
*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #131086, #b621f3);
    padding: 20px;
}

.Login_container{
    background-color: #fff;
    display: flex;
}

.login_header {
    margin-bottom: 100px;
}

.login_header_title {
    font-size: 40px;
    margin-bottom: 10px;
}
  
.Login_body{

}

.Login_mainStep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Login_button{
    margin-top: 24px;
    padding-left: 16px;
    border-radius: 100px;
}
.Login_dontHaveAccount{
    padding: 24px;
    margin-top: 14px;
}