@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter.ttf);
}
@font-face {
    font-family: 'DancingScript';
    src: url(/assets/fonts/DancingScript.ttf);
}
:root{
    --hover-color:rgb(219, 216, 216);
    --text-color: #333;
    --while-color: #fff;
    --black-color: #000;
    --star-color: rgba(76, 198, 207, 0.5);
    --end-color: rgba(63, 195, 56, 0.5);

    --font-text:'Inter', sans-serif;
    --font-header:'DancingScript';
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%; /* 1rem = 10px  */
    line-height: 2rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
    /* Couldn't copy the text */
    -moz-user-select: none !important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}