:root{
    --trans-hidden:0.4s linear;
    --button-visibility:hidden;
    --border-radius-image:5rem;
    --product-image:url(/assets/img/logo.png);
}

.free{
    width: 120rem;
    height: auto;
    display: flex;
    flex-direction: column;
    /* có cách khác nên chỉnh sau */
    margin-top: 10rem;
 
}
.free_header{
    flex: 2;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 1000;
}
.grid_free{
    flex: 7;
    border-top: 2px solid var(--hover-color);
    background-color: var(--while-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.free_product_header{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.free_product_content{
    width: 100%;
}
.free_product{
    width: 35rem;
    height: 28rem;
    margin: 1.8rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.free_product_img{
    border: 2px solid var(--hover-color);
    border-radius: var(--border-radius-image);
    width: 100%;
    height: 75%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--product-image) no-repeat center; 
    background-size: 100% 100%;
}
.free_product_button{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border-radius: var(--border-radius-image);
    background-color: var(--blur-color);
    transition: var(--trans-hidden);
    border: none;
    opacity: 0;
}
.free_product_button a{
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    /* width: 50%;
    height: 30%; */
    padding: 4%;
    font-size: 1.5rem;
    border-radius: var(--border-radius-image);
    background-color: var(--while-color);
    transition: var(--trans-hidden);
    opacity: 0;
    text-decoration: none;
    text-align: center;
}
.free_product_img:hover .free_product_button a{
    opacity: 1;
}
.free_product_img:hover .free_product_button{
    opacity: 1;
}