.login_button {
    padding: 0.3rem 1.2rem;
    float:right;
    border-radius: 25px;
    background-color: rgba(76, 198, 207, 1);
    text-decoration: none;
    color: var(--black);
}
.login_button:hover {
    background-color: rgba(76, 198, 207, 0.5);
    color: var(--black);
}

.header{
    height: 20%;
    position: sticky;
    top: 0;
}
.container_h{
    border-bottom: 2px solid var(--hover-color);
    padding: 1.4rem;
    position: relative;
    display: flex;
    height: 100%;
    background-color: white;
    align-items: center;
    font-size: 1.7rem;
}
.search_bar{
    display: flex;
    flex: auto;
}
.search_icon {
    position: absolute;
    left: 29.5%;
}
.search_input{
    margin-left: 30%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border: 0.1px solid;
    border-color: rgba(51, 51, 0 ,0.5);
    border-radius: 2.5rem;
    padding-left: 3%;
    width:  38rem;
}