#main{
    display: flex;
}
.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

ol,ul{
    padding-left: 0;
}

 .maincontent{
    background-color: var(--while-color);
    width: auto;
    height: 300%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.paid{
    border: 2px solid #333;
    width: 75vw;
    height: 30vh;
    background-color: var(--end-color);
    /* có cách khác nên chỉnh sau */
    margin-top: 3rem;
    margin-bottom: 2rem;

}
.free111{
    margin-bottom: 5rem;
}
@media  only screen and (max-width:768px) {
    /* tablet */
}
@media  only screen and (max-width:600px) {
    /* phone */
}