#main{
    display: flex;
}
.home{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 25rem);
    height: 100%;
}

ol,ul{
    padding-left: 0;
}

 .maincontent{
    background-color: var(--while-color);
    width: auto;
    height: 700%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media  only screen and (max-width:768px) {
    /* tablet */

}
@media  only screen and (max-width:600px) {
    /* phone */

}