/* general */


.sidebar, .home, .header, .maincontent, .footer{
    border: 2px solid #333;
}
.home{
    display: flex;
    flex-direction: column;
}
.header{
    position: sticky;
    top: 0;
}
.maincontent{
    background-color: var(--while-color);
    height: 200%;
}