/* Google Font Import - Poppins */
:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
.sidebar{
    border-right: 0.2rem solid var(--hover-color);
}
body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
::selection {
    background-color: var(--primary-color);
    color: #fff;
}
body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
.sidebar_header{
    border-bottom: 2px solid var(--hover-color);
}
/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25rem;
    padding: 1rem 1.4rem;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 8.8rem;
}
.sidebar li {
    height: 5rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.sidebar header .image,
.sidebar .icon {
    min-width: 6rem;
    border-radius: 0.6rem;
}
.sidebar .icon {
    min-width: 6rem;
    border-radius: 0.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}
.sidebar .text {
    font-size: 1.7rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text {
    opacity: 0;
}
.sidebar header {
    position: relative;
}
.sidebar header .image-text {
    display: flex;
    align-items: center;
}
.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 0.2rem;
    font-size: 1.8rem;
    font-weight: 600;
}
header .image-text .profession {
    font-size: 1.6rem;
    margin-top: -0.2rem;
    display: block;
}
.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img {
    width: 4rem;
    border-radius: 0.6rem;
}
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -2.5rem;
    transform: translateY(-50%) rotate(180deg);
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    cursor: pointer;
    transition: var(--tran-05);
}
body.dark .sidebar header .toggle {
    color: var(--text-color);
}
.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu {
    margin-top: 4rem;
}
.sidebar li.search-box {
    border-radius: 0.6rem;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}
.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 0.6rem;
    font-size: 1.7rem;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
.sidebar li a:hover {
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}
.sidebar .menu-bar {
    height: calc(100% - 5.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}
.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}
.menu-bar .mode .sun-moon {
    height: 5rem;
    width: 6rem;
}
.mode .sun-moon i {
    position: absolute;
}
.mode .sun-moon i.sun {
    opacity: 0;
}
body.dark .mode .sun-moon i.sun {
    opacity: 1;
}
body.dark .mode .sun-moon i.moon {
    opacity: 0;
}
.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch {
    position: relative;
    height: 2.2rem;
    width: 4rem;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}
body.dark .switch::before {
    left: 2rem;
}
.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 25rem;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text {
    font-size: 3rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 1,2rem 6rem;
}
.sidebar.close~.home {
    left: 7.8rem;
    height: 100vh;
    width: calc(100% - 7.8rem);
}
body.dark .home .text {
    color: var(--text-color);
}