<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./account-login.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <title>Đăng nhập vào FWT | Pro Web template</title>
</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <div class="accountlogin_header">
                    <a href="/index.html">
                        <img class="accountlogin_headerLogo" src="/assets/img/FWT.png">
                    </a>
                    <h1 class="accountlogin_headerTitle">Đăng nhập vào PWT</h1>
                </div>
                <form action="#">
            <div class="field input-field">
                <input type="email" placeholder="Tên tài khoản" class="input">
            </div>

            <div class="field input-field">
                <input type="password" placeholder="Mật khẩu" class="password">
                <i class='bx bx-hide eye-icon'></i>
            </div>

            <div class="form-link">
                <a href="#" class="forgot-pass">Bạn quên mật khẩu?</a>
            </div>

            <div class="field button-field">
                <button>Đăng nhập</button>
            </div>
        </form>

        <div class="form-link">
            <span>Bạn không có tài khoản? <a href="#" class="link signup-link">Đăng ký</a></span>
        </div>
    </div>

    <div class="line"></div>

    <div class="media-options">
        <a href="#" class="field facebook">
            <img src="https://accounts.fullstack.edu.vn/assets/images/signin/facebook-18px.svg" alt="" class="facebook-img">
            <span>Đăng nhập với Facebook</span>
        </a>
    </div>

    <div class="media-options">
        <a href="#" class="field google">
            <img src="https://accounts.fullstack.edu.vn/assets/images/signin/google-18px.svg" alt="" class="google-img">
            <span>Đăng nhập với Google</span>
        </a>
    </div>

                    
                </div>
                <p class="accountlogin_dontHaveAccount">Bạn chưa có tài khoản? <a href="/src/components/register/register.html">Đăng ký</a></p>
            </div>
            
        </div>
    </div>

    <script type="text/javascript" src="/src/components/account-login/account-login.js"></script>

</body>

</html>