.home{
    display: flex;
    flex-direction: column;
    width: 100%;
}

ol,ul{
    padding-left: 0;
}

 .maincontent{
    background-color: var(--while-color);
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: -35rem;
}
.t_maincontent{
    /* position: relative; */
    width: 95%;
}
.t_content{
    height: 55rem;
    text-align: center;
    float: right;
    width: 25%;
    background-color: var(--hover-color);
}
.t_frame{
    margin-right: 1rem;
    float: right;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.frame{
    width: 80rem;
    height: 55rem;
}
.container_h{
    height: 93%;
}


@media  only screen and (max-width:768px) {
    /* tablet */
}
@media  only screen and (max-width:600px) {
    /* phone */
}