<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FWT | Pro Web template</title>


    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/free.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/slideshow.css">
    <link rel="stylesheet" href="/assets/css/paid.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/src/components/product-detail/product-detail.css">
</head>

<body>
    <div id="main">
        <nav class="sidebar open">
            <div class="logo-details">
                <span class="logo">
                    <img src="/assets/img/FWT-mini.png"></img>
                    <div class="logo_name">Pro Web Template</div>
                </span>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="#">
                        <i class='bx bxs-home '></i>
                        
                        <span class="links_name">Home</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-store '></i>
                        <span class="links_name">Shop</span>
                    </a>
                    <span class="tooltip">Shop</span>
                </li>
        
        
                <li>
                    <a href="#">
                        <i class='bx bx-cart-alt'></i>
                        <span class="links_name">Order</span>
                    </a>
                    <span class="tooltip">Order</span>
                </li>
        
                <li>
                    <a href="#">
                        <i class='bx bxs-credit-card '></i>
                        <span class="links_name">Credit-Card</span>
                    </a>
                    <span class="tooltip">Credit-Card</span>
                </li>
        
                <li>
                    <a href="#">
                        <i class='bx bxs-bell'></i>
                        <span class="links_name">Notification</span>
                    </a>
                    <span class="tooltip">Notification</span>
                </li>
        
                <li>
                    <a href="#">
                        <i class='bx bxs-help-circle'></i>
                        <span class="links_name">Help</span>
                    </a>
                    <span class="tooltip">Help</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog'></i>
                        <span class="links_name">Setting</span>
                    </a>
                    <span class="tooltip">Setting</span>
                </li>
                <li class="profile">
                    <div class="profile-details">
                        <img src="/assets/img/logo.png" alt="profileImg">
                        <div class="name_job">
                            <div class="name">Prem Shahi</div>
                            <div class="job">Web designer</div>
                        </div>
                    </div>
                    <i class='bx bx-log-out' id="log_out"></i>
                </li>
            </ul>
        </nav>

        <section class="home">
            <header class="header">
                <div class="container_h">
                    <div class="search_bar">
                        <div class="search_icon">
                            <img src="/assets/img/search-logo.png" alt="search-icon">
                        </div>
                        <input type="text" class="search_input" spellcheck="false"
                            placeholder="Tìm kiếm tên, dạng, thể loại... của template">
                    </div>
                    <div class="login_div">
                        <a href="/src/components/login/login.html" class="login_button">
                            Login
                        </a>
                    </div>
                </div>
            </header>
            <div class="maincontent">
                <div class="t_maincontent">
                    <div>
                        <h1>Chi tiết sản phẩm</h1>
                    </div>
                    <div class="t_content">
                        <h2>Mô tả</h2>
                        <!-- phần này dùng JS chạy nội dung -->
                        <p id="t_detail">Casinal – Educations Coachings
                            Một trang web đơn giản được xây dựng trên lĩnh vực giáo dục. Cung cấp các giao diện cơ bản như thanh điều hướng, slideshow đơn giản…
                        </p>
                    </div>
                    <div class="t_frame">
                        <div class="img_container">

                            <div class="img">
                                <img id="img_d" src="/src/data/img/1-d.png" alt="Trang web ở màn hình desktop">
                                <div class="i_title">
                                    <p>Trang web ở màn hình desktop</p>
                                </div>
                            </div>

                            <div class="img tl">
                                <img id="img_t" src="/src/data/img/1-t.png" alt="">
                                <div class="i_title">
                                    <p>Trang web ở màn hình tablet</p>
                                </div>
                            </div>

                            <div class="img ph">
                                <img id="img_p" src="/src/data/img/1-p.png" alt="">
                                <div class="i_title">
                                    <p>Trang web ở màn hình điện thoại</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <a class="t_link" id="t_link" href="/src/data/template/webTemplate1/html/index.html">Xem trực tiếp trang web tại đây</a>
                <a class="t_download" href="/src/data/template/webTemplate1.zip">Download Template</a>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                            <h4>FWT</h4>
                            <ul>
                                <li><a href="">About us</a></li>
                                <li><a href="">Our services</a></li>
                                <li><a href="">Privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Get Help</h4>
                            <ul>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Shipping</a></li>
                                <li><a href="">Returns</a></li>
                                <li><a href="">Order Status</a></li>
                                <li><a href="">Payment options</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Product</h4>
                            <ul>
                                <li><a href="">Paid product</a></li>
                                <li><a href="">Free product</a></li>
                                <li><a href="">Featured products</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Follow Us</h4>
                            <div class="social-links">
                                <a href="https://www.facebook.com/profile.php?id=100029557625178"><i
                                        class="fa-brands fa-facebook" style="font-size: 2em"></i></a>
                                <a href="https://twitter.com/?lang=vi"><i class="fa-brands fa-twitter"
                                        style="font-size: 2em"></i></a>
                                <a href="https://www.instagram.com/imminhtu_/"><i class="fa-brands fa-instagram"
                                        style="font-size: 2em"></i></a>
                                <a href="https://discord.com/"><i class="fa-brands fa-discord"
                                        style="font-size: 2em"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
    </div>

    <script src="product-detail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/script/main.js"></script>
    <script src="https://kit.fontawesome.com/682da8c922.js" crossorigin="anonymous"></script>
</body>

</html>