<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./register.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <title>Đăng ký thành viên FWT | Pro Web template</title>
</head>

<body>
    <div class="register_container">
        <div class="register_content">
            <div class="register_header">
                <a href="/index.html">
                    <img class="register_headerLogo" src="/assets/img/FWT.png">
                </a>
                <h1 class="register_headerTitle">Đăng ký thành viên PWT</h1>
            </div>
            <div class="register_body">
                <div class="register_mainStep">
                    <a class="register_button button_personal" style="text-decoration: none;color: var(--text-color);"
                    href="/src/components/account-register/account-register.html">
                        <img class="register_buttonIcon" width="30"
                            src="https://accounts.fullstack.edu.vn/assets/images/signin/personal-18px.svg"
                            alt="Tiếp tục với personal">
                        <span class="register_buttonContent">Sử dụng email / số điện thoại</span>
                    </a>
                    <button class="register_button button_facebook" href="#">
                        <img class="register_buttonIcon" width="30"
                            src="https://accounts.fullstack.edu.vn/assets/images/signin/facebook-18px.svg"
                            alt="Tiếp tục với Facebook">
                        <span class="register_buttonContent">Tiếp tục với Facebook</span>
                    </button>
                    <button class="register_button button_google" href="#">
                        <img class="register_buttonIcon" width="30"
                            src="https://accounts.fullstack.edu.vn/assets/images/signin/google-18px.svg"
                            alt="Tiếp tục với Google">
                        <span class="register_buttonContent">Tiếp tục với Google</span>
                    </button>
                    <button class="register_button button_twitter" href="#">
                        <img class="register_buttonIcon" width="30" src="/assets/img/twitter-18px.svg"
                            alt="Tiếp tục với Twitter">
                        <span class="register_buttonContent">Tiếp tục với Twitter</span>
                    </button>
                </div>
                <p class="register_haveAccount">Bạn đã có tài khoản? <a href="/src/components/login/login.html">Đăng nhập</a></p>
            </div>
            <div class="register_footer">
                <span class="register_footerContent">
                    Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với
                    <a target="_blank" href="/assets/file/DIEU_KHOAN_SU_DUNG.pdf"><br>Điều khoản sử dụng</a> của chúng tôi.
                </span>
            </div>
        </div>
    </div>

    <script src="/src/components/register/register.js"></script>

</body>

</html>