/* Login */
@media only screen and (max-width: 250px)
{
  html{
    font-size: 20%;
  }
}
@media only screen and (max-width: 500px)
{
  html{
    font-size: 25%;
  }
}

:root{
  --width: 52rem;
  --height: 62rem;
}
html{
  background: linear-gradient(90deg,rgba(76, 198, 207, 0.5),rgba(63, 195, 56, 0.5));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#login_container{
  border: 2px solid var(--hover-color);
  background-color: var(--while-color);
  border-radius: 30px;
}
.login_headerTitle{
  font-family: 'DancingScript','Inter', sans-serif;
}
.login_button:hover{
  background-color: var(--hover-color);
}
.login_button{
  background-color: var(--while-color);
  border: 2px solid var(--hover-color);
  border-radius: 100px;  
}
/* test */
#login_header{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.login_headerLogo{
  margin-top: 1rem;
}
#login_body{
  text-align: center;
  font-size: 1.4rem;
}
.login_mainStep{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.login_button{
  width: 33rem;
  height: 5rem;
  position: relative;   
}
.login_buttonIcon{
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform:translateY(-50%);
}
.login_buttonContent{   
  text-align: center;
  line-height: calc(5rem - 0.5rem);
}
.login_dontHaveAccount{
  margin-top: 3rem;
}
#login_footer{
  text-align: center;
  margin-top: 6rem;
}
#login_container{
  width: var(--width);
  height: var(--height);
}
