:root{
  --width: 45rem;
  --height: 62rem;
}

html{
  background: linear-gradient(90deg,rgba(76, 198, 207, 0.5),rgba(63, 195, 56, 0.5));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* Login */
.Login_container{
  border: 2px solid var(--color-hover);
  background-color: var(--while-color);
  width: var(--width);
  height: var(--height);
  border-radius: 30px;
}
.Login_header{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.Login_headerTitle{
  font-family: 'DancingScript';
}
.Login_logo{
  margin-top: 1rem;
}
.Login_body{
  text-align: center;
  font-size: 1.4rem;
}
.Login_mainStep{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.Login_button{
  background-color: #fff;
  border: 2px solid var(--color-hover);
  width: 33rem;
  height: 5rem;
  border-radius: 100px;
  position: relative;   
}
.Login_buttonIcon{
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform:translateY(-50%);
}
.Login_buttonContent{   
  text-align: center;
  line-height: calc(5rem - 0.5rem);
}
.Login_dontHaveAccount{
  margin-top: 3rem;
}
.Login_footer{
  text-align: center;
  margin-top: 6rem;
}
.Login_button:hover{
  background-color: var(--color-hover);
}