<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/src/components/template/template.css">
</head>

<body>
  <div class="freeProduces">
    <div class="product free_product01">
      <div class="product_img free_product01Img"></div>
      <p class="product_content free_product01Content">product</p>
    </div>
    <div class="product free_product02">
      <div class="product_img free_product02Img"></div>
      <p class="product_content free_product02Content">product</p>
    </div>
    <div class="product free_product03">
      <div class="product_img free_product03Img"></div>
      <p class="product_content free_product03Content">product</p>
    </div>
    <div class="product free_product04">
      <div class="product_img free_product04Img"></div>
      <p class="product_content free_product04Content">product</p>
    </div>
    <div class="product free_product05">
      <div class="product_img free_product05Img"></div>
      <p class="product_content free_product05Content">product</p>
    </div>
    <div class="product free_product06">
      <div class="product_img free_product06Img"></div>
      <p class="product_content free_product06Content">product</p>
    </div>

  </div>
</body>

</html>